/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Roboto";
	background: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}
/* ------------------------------ */

/* Определяет цвет фона элемента */
/* background-color: green;

	/* Устанавливает фоновое изображение 
	для элемента либо задает градиентную заливку */
/* background-image: url("../img/01.png"); */
/* background-image: linear-gradient(to bottom, rgba(236, 232, 157, 1) 0%, rgba(94, 83, 115, 1) 50%, rgba(24, 181, 164, 1) 100%); */

/* Определяет, как будет повторяться фоновое изображение */
/* background-repeat: no-repeat; */

/* Задает начальное положение фонового изображения, где первое значение 
	(проценты, px, слово) определяет расположение 
	по горизонтали, второе - вертикали. */
/* background-position: 0 0; */

/* Масштабирует фоновое изображение согласно заданным размерам. 
	В цифрах, где первое значение (проценты, px) определяет ширину, 
	второе - высоту. Либо специальным значением. */
/* background-size: auto auto; */

/* Устанавливает, будет ли прокручиваться фоновое изображение вместе с содержимым элемента. */
/* background-attachment: scroll; */

/* Универсальное свойство */
/* background: green url("../img/01.png") 50% / cover no-repeat fixed; */

/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%), url("../img/image_1.jpg") 0 0 / 100px no-repeat, green url("../img/01.png") 50% / cover no-repeat; */

.one {
	background-color: aqua;
	margin: 20px 0px;
	padding: 15px;
	border: 5px solid black;
}
.two {
	background-image: url(../img/image_1.jpg);
	margin: 20px 0px;
	margin: 15px;
	border: 5px solid black;
}
.tree {
	margin: 20px 0px;
	padding: 15px;
	border: 5px solid black;
	background-image: linear-gradient(
		to bottom,
		rgba(236, 232, 157, 1) 0%,
		rgba(54, 254, 123, 1) 30%,
		rgba(145, 124, 123, 1) 40%,
		rgba(94, 83, 115, 1) 50%,
		rgba(24, 181, 164, 1) 100%
	);
}
.four {
	margin: 20px 0px;
	padding: 0px 26px;
	border: 5px solid black;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	line-height: 27px;
}

.five {
	margin: 20px 0px;
	padding: 0px 26px;
	border: 5px solid black;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	line-height: 27px;
	background-position: 500px 150px;
}

.six {
	margin: 20px 0px;
	padding: 0px 26px;
	border: 5px solid black;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	line-height: 27px;
	background-size: 100px 100px;
	background-position: center center;
}

.seven {
	margin: 20px 0px;
	padding: 0px 26px;
	border: 5px solid black;
	background-image: url(../img/image_1.jpg);
	background-repeat: no-repeat;
	line-height: 27px;
	background-attachment: fixed;
}

.eight {
	margin: 20px 0px;
	padding: 0px 26px;
	border: 5px solid black;
	line-height: 27px;
	background: red url("../img/stars.png") 50% / contain no-repeat scroll;
}

.nine {
	margin: 20px 0px;
	padding: 0px 26px;
	border: 5px solid black;
	background-repeat: no-repeat;
	line-height: 27px;
	background: url("../img/image_1.jpg") 50% 50% / 300px no-repeat, blue url("../img/01.png") 50% / cover no-repeat;
}

.added-menu {
	line-height: 27px;
	border: 5px solid yellowgreen;
	margin: 0 auto;
	max-width: 600px;
	text-align: right;
}

ul li {
	padding: 0px 27px 0px 15px;
	background: url(../img/icon.png) 100% 0% no-repeat;
}

.subtitle-background {
	background: none;
}

.Top_notch_service {
	width: 1440px;
	height: 800px;
	background: url(../img/footer.png) 0 0 / cover no-repeat scroll;
	padding: 280px 647px 210px 312px;
}

.title_h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	color: #ffffff;
	margin: 0px 0px 48px 0px;
}

.push {
	max-width: 218px;
	min-height: 48px;
	padding: 13px 0px;
	background: #c40b0b url(../img/Button-Treatment-48px.png) right no-repeat;
	text-align: center;
}

.push-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
}

.contact {
	margin: 0 auto;
	max-width: 237px;
}
.contact-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	margin: 100px 0px 28px 0px;
}
.contact-menu {
	margin: 0px 0px 250px 0px;
}
.geo {
	background: url(../img/place_24px.png) no-repeat;
	padding: 0px 0px 0px 32px;
	margin: 0px 0px 16px 0px;
}
.tel {
	background: url(../img/smartphone_24px.png) no-repeat;
	padding: 0px 0px 0px 32px;
	margin: 0px 0px 16px 0px;
}
.mail {
	background: url(../img/email_24px.png) no-repeat;
	padding: 0px 0px 0px 32px;
	margin: 0px 0px 16px 0px;
}
.time {
	background: url(../img/timer_24px.png) no-repeat;
	padding: 0px 0px 0px 32px;
}

.bloc {
	max-width: 100%;

	margin: 0px 0px 100px 0px;
	background: url(../img/bg_img.png) 0 0 / cover no-repeat;
	padding: 112px 210px 212px 210px;
}

.bloc-img {
	margin: 80px 210px -237px 732px;
}
.OUR_IMPACT {
	max-width: 411px;
	margin: 0px 0px 79px 0px;
}

.bloc-h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #d5d5d5;
	margin: 0px 0px 32px 0px;
	background: url(../img/icon.png) no-repeat;
	padding: 0px 0px 0px 27px;
}
.bloc-Title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}

.contein1 {
	display: inline-block;
	background: url(../img/car_oil-24x.png) no-repeat;
	padding: 0px 30px 0px 76px;
	min-height: 76px;
	max-width: 237px;
	margin: -45px 24px 0px 0px;
}
.contein1-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	margin: 4px 0px 3px 0px;
}
.contein1-text {
	max-width: 149px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}

.contein2 {
	display: inline-block;
	background: url(../img/car_oil-24x.png) no-repeat;
	padding: 0px 30px 0px 76px;
	min-height: 76px;
	max-width: 237px;
	margin: 0px 24px 0px 0px;
}
.contein2-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	margin: 4px 0px 3px 0px;
}
.contein2-text {
	max-width: 149px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}

.contein3 {
	display: inline-block;
	background: url(../img/car_alignment_24x.png) no-repeat;
	padding: 0px 30px 0px 76px;
	min-height: 76px;
	max-width: 237px;
	margin: 0px 24px 0px 0px;
}
.contein3-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	margin: 4px 0px 3px 0px;
}
.contein3-text {
	max-width: 149px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}

.contein4 {
	display: inline-block;
	background: url(../img/car_engine_2_24x.png) no-repeat;
	padding: 0px 30px 0px 76px;
	min-height: 76px;
	max-width: 237px;
	margin: 0px 24px 0px 0px;
}
.contein4-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	margin: 4px 0px 3px 0px;
}
.contein4-text {
	max-width: 149px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}
